@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #770000;
}

.main-color {
    color: var(--main-color);
}

.btn-primary {
    background-color: var(--main-color);
    border: var(--main-color);
    border-radius: 1px;
}

.btn-light {
    border-left: 5px solid var(--main-color);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 1px;
    transition: 0.25s;
}

.btn-light:hover,
.btn-light:focus {
    box-shadow: inset 9.5rem 0 0 0 var(--main-color);
    color: white;
    border-left: 5px solid white;
}

.header .main-color {
    font-weight: 700;
}

.icons-sontainer i {
    font-size: 20px;
    margin: 0 10px;
}

.carousel {
    padding-top: 30px;
}

.carousel img {
    height: 350px ;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-caption {
    right: 5%;
    left: 5%;
    bottom: 10%;
    text-align: left;
}

.carousel-caption h5 {
    font-size: 36px;
}